@model Personel
@{
    ViewData["Title"] = "Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}




<!DOCTYPE html>
<html lang="tr">
<head>
    <title>Personel Ekleme Sayfası</title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<h2>Personel Ekleme Sayfası</h2>
<br />
<body>

    <form asp-controller="Personel" asp-action="Ekle"  enctype="multipart/form-data">
        <label asp-for="PersonelAd">Personel Ad</label>
        <input type="text" asp-for="PersonelAd" class="form-control" />
        <span asp-validation-for="@Model.PersonelAd" class="text-danger"></span>

        <label asp-for="PersonelSoyad">Personel Soyad</label>
        <input type="text" asp-for="PersonelSoyad" class="form-control" />
        <span asp-validation-for="@Model.PersonelSoyad" class="text-danger"></span>

        <label asp-for="PersonelGorsel">Personel Görsel</label>
        <input asp-for="PersonelGorsel" class="form-control" type="file" />
        <span asp-validation-for="@Model.PersonelGorsel" class="text-danger"></span>

        <label asp-for="DepartmanId">Departman</label>
        <select class="form-control" asp-for="DepartmanId"
                asp-items="(IEnumerable<SelectListItem>)ViewBag.departman">
            <option value="">Seçiniz</option>
            <span asp-validation-for="@Model.DepartmanId" class="text-danger"></span>

        </select>

        <br />
        <button class="btn btn-success">Kaydet</button>

    </form>
</body>
</html>


